@media (width > 1800px) and (width < 2200px) {
  .autoCompleteOuterContainer{
    width: 32rem;
  }

  .search_bar{
    position: relative;
    left: -1rem;
    width: 50.1rem
  }

  .burger{
    margin-left:1rem
  }

  .buscado_para{
    left: -4.5rem;
    position: relative;
  }

  .buscado_para_locate{
    left: 2.5rem;
    position: relative;
  }

}


@media (width > 1500px) and ( width < 1799px) {
  .autoCompleteOuterContainer{
    width: 17.5rem;
  }

  .search_bar{
    position: relative;
    left: -1rem;
    width: 30rem
  }

  .burger{
    margin-left:1rem
  }

  .buscado_para{
    left: -3.5rem;
    position: relative;
  }

  .buscado_para_locate{
    left: 1.2rem;
    position: relative;
  }

}

@media (width > 2200px) {
  .autoCompleteOuterContainer{
    width: 41rem;
  }

  .search_bar{
    position: relative;
    left: -1rem;
    width: 59.1rem;
  }

  .burger{
    margin-left:1rem
  }

  .buscado_para{
    left: -7.5rem;
    position: relative;
  }

  .buscado_para_locate{
    left: 5.5rem;
    position: relative;
  }

  .searchBar_container{
    left: -4.5rem;
    position: relative;
  }

}
