

@media screen and (width > 1800px){
 .__group{
  width: 36.6rem !important;
  height: 2.4rem !important;
 }
}
@media screen and (width > 1260px) and (width < 1399px){
  .__group{
    height: 40px !important;
  }
 }

 @media screen and (width > 1400px) and (width < 1799px){
  .__group{
    height: 40px !important;
    width: 18.4rem !important;

  }
 }
