.galleryLayoutOptionButton {
  background-color: #f0f0f0;
  color: #3f3f40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3f3f40;
  color: #ffffff;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center;
}

.galleryItem--list {
  border-bottom: 1px #e7e9ee solid;
}

.galleryItem--gridSummaryLayout--grid {
  border: 2px solid #f2f2f2;
  border-radius: 3px;
}
.gallery.gallery--gridSummaryLayout.gallery--grid.gallery--gridSummaryLayout--grid {
  margin-top: 2px;
}

.filter__container--category-2 {
  padding-left: 1rem;
  border: 1px solid #f2f2f2;
  margin-left: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
}

.filter__container--title {
  padding-left: 1rem;
  border: 1px solid #f2f2f2;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}

.filter__container--brand {
  padding-left: 1rem;
  border: 1px solid #f2f2f2;
  margin-left: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
}

.filter__container--color {
  padding-left: 1rem;
  border: 1px solid #f2f2f2;
  margin-left: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
}

.filter__container--fast-shipping-check {
  padding-left: 1rem;
  border: 1px solid #f2f2f2;
  margin-left: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
}

.filter__container--fast-shipping-field {
  padding-left: 1rem;
  border: 1px solid #f2f2f2;
  margin-left: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
}

.filter__container--length {
  padding-left: 1rem;
  border: 1px solid #f2f2f2;
  margin-left: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
}

.filter__container--material {
  padding-left: 1rem;
  border: 1px solid #f2f2f2;
  margin-left: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
}

.filter__container--s {
  padding-left: 1rem;
  border: 1px solid #f2f2f2;
  margin-left: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
}

.filter__container--shipping {
  padding-left: 1rem;
  border: 1px solid #f2f2f2;
  margin-left: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
}

.filter__container--shipping-group-r {
  padding-left: 1rem;
  border: 1px solid #f2f2f2;
  margin-left: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
}

.filter__container--size {
  padding-left: 1rem;
  border: 1px solid #f2f2f2;
  margin-left: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
}

.filter__container--priceRange {
  padding-left: 1rem;
  border: 1px solid #f2f2f2;
  margin-left: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
}

.filterAvailable{
  padding-left: 1rem;
  padding-bottom: 14px;
}

.filterContent{
  padding-left: 1rem;
}

.filter__container{
  margin-bottom: 0px !important;
  border-color: #e9eff5;
  padding-left: 0px !important;
  margin-left: 0px !important;
}

.filters--layout{
  border: 1px solid #e9eff5 ;
}

.filterTemplateOverflow{
  width: 12rem;
  margin-left: 1rem;
}

.gallery--gridSummaryLayout{
  gap:1rem !important;
}

.galleryItem--gridSummaryLayout{
  max-width: 23% !important;
  padding-inline: 7px;
}
