.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}
.row--logoStyle{
  justify-content: flex-start !important;
}

.stretchChildrenWidth   {
  justify-content: flex-start !important;
}

.footerLayout{
  background-color: #fff !important;
}
